{% extends "vacancies/base_authentication.html" %}
{% block content %}
<div class=" form-label-group">
  <p class="text-muted">Имя</p>
  <input type="text" id="inputName" class="form-control" required >
  <label for="inputName"></label>
</div>

<div class=" form-label-group">
  <p class="text-muted">Фамилия</p>
  <input type="text" id="inputSurname" class="form-control" required >
  <label for="inputSurname"></label>
</div>
{% include 'vacancies/base_authentication_password.html' %}
{% endblock content %}


{% block submit %}
<button class="btn btn-primary btn-lg btn-block" type="submit">Зарегистрироваться</button>
{% endblock %}